<!-- <button (click)="test()">GET API</button> -->
<full-calendar 
  #calendar
  [dragScroll]="fullCallendarSettings.dragScroll"
  [droppable]="fullCallendarSettings.droppable"
  [editable]="fullCallendarSettings.editable"
  [selectable]="fullCallendarSettings.selectable"
  [nowIndicator]="fullCallendarSettings.nowIndicator"
  [navLinks]="fullCallendarSettings.navLinks"
  [lazyFetching]="fullCallendarSettings.lazyFetching"
  [defaultView]="fullCallendarSettings.defaultView"
  [eventLimit]="fullCallendarSettings.eventLimit"
  [slotDuration]="fullCallendarSettings.slotDuration"
  [defaultTimedEventDuration]="fullCallendarSettings.defaultTimedEventDuration"
  [slotLabelFormat]="fullCallendarSettings.slotLabelFormat"
  [customButtons]="fullCallendarSettings.customButtons"
  [minTime]="fullCallendarSettings.minTime"
  [maxTime]="fullCallendarSettings.maxTime"
  [header]="fullCallendarSettings.header" 
  [plugins]="fullCallendarSettings.plugins"
  [locales]="fullCallendarSettings.locales"
  [locale]="fullCallendarSettings.locale"
  [themeSystem]="fullCallendarSettings.themeSystem"
  [eventTimeFormat]="fullCallendarSettings.eventTimeFormat"
  [eventSources]="fullCallendarSettings.eventSources"
  (loading)="eventLoader($event)"
  (eventClick)="eventClick($event)"
  (dateClick)="dateClick($event)"
  (navLinkDayClick)="navLinkDayClick($event)"
  (eventMouseEnter)="eventMouseEnter($event)"
  (eventRender)="eventRender($event)"
  (eventDragStart)="eventDragStart($event)"
  (eventDragStop)="eventDragStop($event)"
></full-calendar>
<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>