<ng-container *ngIf="this.recordInfo">
    <div class="row">
        <div class="col-md-6">
            <label>User Id</label>
        </div>
        <div class="col-md-6">
            <p>Kshiti123</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Name</label>
        </div>
        <div class="col-md-6">
            <p>Kshiti Ghelani</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Email</label>
        </div>
        <div class="col-md-6">
            <p>kshitighelani@gmail.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Phone</label>
        </div>
        <div class="col-md-6">
            <p>123 456 7890</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Profession</label>
        </div>
        <div class="col-md-6">
            <p>Web Developer and Designer</p>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!this.recordInfo">
    <div class="text-left">
        <a [routerLink]="['/home', 'existing-person-opening-record', this.personId ]" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                  </span>
            <span class="text">Apertura de expediente</span>
        </a>
    </div>
</ng-container>