<ng-container *ngIf="this.recordInfo">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Estado del expediente
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="col-md-5">
                <mat-label>Número de expediente</mat-label>
                <input matInput value="{{recordInfo.id}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Estado del paciente</mat-label>
                <input matInput value="{{recordInfo.patientStatus}}" readonly>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Información personal
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Type your name and age
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-form-field class="col-md-3">
                <mat-label>Edad cuando ingreso</mat-label>
                <input matInput value="{{recordInfo.age}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Edad actual</mat-label>
                <input matInput value="{{calculateAge(recordInfo.bornDate)}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput value="{{recordInfo.bornDate | date}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Sexo</mat-label>
                <input matInput value="{{recordInfo.gender}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Escolaridad</mat-label>
                <input matInput value="{{recordInfo.escolarity}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Estado Civil</mat-label>
                <input matInput value="{{recordInfo.civilStatus}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Ocupación</mat-label>
                <input matInput value="{{recordInfo.ocupation}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Religión</mat-label>
                <input matInput value="{{recordInfo.religion}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Domicilio</mat-label>
                <input matInput value="{{recordInfo.address}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Municipio</mat-label>
                <input matInput value="{{recordInfo.city}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Localidad</mat-label>
                <input matInput value="{{recordInfo.location}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Colonia</mat-label>
                <input matInput value="{{recordInfo.colony}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Parroquia</mat-label>
                <input matInput value="{{recordInfo.parish}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Teléfono</mat-label>
                <input matInput value="{{recordInfo.person.phone}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Primera vez?</mat-label>
                <input matInput value="{{ recordInfo.firstTime? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Cuándo?</mat-label>
                <input matInput value="{{ recordInfo.whenWasFirstTime }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Quién derivó?</mat-label>
                <input matInput value="{{ recordInfo.whoDerived }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Disposicón para consulta</mat-label>
                <input matInput value="{{ recordInfo.consultationDisposition? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-10">
                <mat-label>Familiar de contácto</mat-label>
                <input matInput value="{{ recordInfo.familyContact }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Teléfono de familiar de contácto</mat-label>
                <input matInput value="{{ recordInfo.familyContactPhone }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Parentezco de familiar de contácto</mat-label>
                <input matInput value="{{ recordInfo.familyContactRelation }}" readonly>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Exploración socioeconómica
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="col-md-5">
                <mat-label>¿Dependiente económico?</mat-label>
                <input matInput value="{{ recordInfo.economicDependent? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Quién labora?</mat-label>
                <input matInput value="{{recordInfo.whoWorks}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Función en el trabajo</mat-label>
                <input matInput value="{{recordInfo.workOcupation}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Dónde labora?</mat-label>
                <input matInput value="{{recordInfo.workPlace}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Tiempo laborando en el lugar</mat-label>
                <input matInput value="{{recordInfo.sinceWhenWorkOcupation}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Ingreso al mes</mat-label>
                <input matInput value="${{recordInfo.monthlyIncome}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Tiempo laboralmente activo</mat-label>
                <input matInput value="{{recordInfo.senorityOfWork}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Estado laboral</mat-label>
                <input matInput value="{{recordInfo.workStatus}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Tiempo en ese estado laboral</mat-label>
                <input matInput value="{{recordInfo.timeOnWorkStatus}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Tipo de vivienda</mat-label>
                <input matInput value="{{recordInfo.houseStatus}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>N de personas de ingresan</mat-label>
                <input matInput value="{{recordInfo.numberOfDependentsThatBringMoney}}" readonly>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="(this.permissionService.permissions | async)?.canViewClinicExplorationAccordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Exploración clínica/sintomatológica referida por el paciente
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="col-md-12">
                <mat-label>Exploración clínica</mat-label>
                <textarea matInput [value]="recordInfo.clinicExploration" readonly></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Ha recibido atención?</mat-label>
                <input matInput value="{{recordInfo.raatention}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿En cuantas ocasiones?</mat-label>
                <input matInput value="{{recordInfo.ratimes}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿En dónde recibo tratamiento?</mat-label>
                <input matInput value="{{recordInfo.raplace}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Terminó su tratamiento?</mat-label>
                <input matInput value="{{ recordInfo.ratreatmentFinished? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>¿Motivo de suspensión de tratamiento?</mat-label>
                <input matInput value="{{recordInfo.rareason}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>¿Se encuentra bajo algún tratamiento médico? </mat-label>
                <input matInput value="{{ recordInfo.underTreatment? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label>Lista de medicamentos</mat-label>
                <textarea matInput [value]="recordInfo.medicine" readonly></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Enfermedades crónicas</mat-label>
                <input matInput value="{{recordInfo.chronicDisease}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Servicios médicos que recibe</mat-label>
                <input matInput value="{{recordInfo.medicalServices}}" readonly>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="(this.permissionService.permissions | async)?.canViewPersonDescriptionHabitusAccordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Descripción impresionista del paciente / habitus exterior
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="col-md-5">
                <mat-label>Peso</mat-label>
                <input matInput value="{{recordInfo.weight}} kg" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Talla</mat-label>
                <input matInput value="{{recordInfo.size}} cm" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>IMC</mat-label>
                <input matInput value="{{recordInfo.bmi}}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Estado de IMC</mat-label>
                <input matInput value="{{ getBMIStatus(recordInfo.bmi) }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Higiene</mat-label>
                <input matInput value="{{ recordInfo.hygiene }}" readonly>
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-5">
                <mat-label>Alteraciones en la marcha</mat-label>
                <input matInput value="{{ recordInfo.walkingAlterations }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Alteraciones en el habla</mat-label>
                <input matInput value="{{ recordInfo.speakingAlterations }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label>Anotaciones</mat-label>
                <textarea matInput [value]="recordInfo.notes" readonly></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Consume tabaco</mat-label>
                <input matInput value="{{ recordInfo.smoke? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Frecuencia</mat-label>
                <input matInput value="{{ recordInfo.smokeFrecuency }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Consume alcohol</mat-label>
                <input matInput value="{{ recordInfo.drinkAlcohol? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-5">
                <mat-label>Frecuencia</mat-label>
                <input matInput value="{{ recordInfo.drinkAlcoholFrecuency }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <mat-label>Otras drogas</mat-label>
                <input matInput value="{{ recordInfo.otherDrugs? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-8">
                <mat-label>¿Cúales?</mat-label>
                <input matInput value="{{ recordInfo.whichDrugs }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Frecuencia de otras drogas</mat-label>
                <input matInput value="{{ recordInfo.drugsFrecuency }}" readonly>
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-4">
                <mat-label>Alteraciones en el sueño</mat-label>
                <input matInput value="{{ recordInfo.sleepingAlterations? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-7">
                <mat-label>¿Cúales?</mat-label>
                <input matInput value="{{ recordInfo.whichSleepingAlterarions }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-8">
                <mat-label>Frecuencia</mat-label>
                <input matInput value="{{ recordInfo.sinceWhenSleepingAlterarions }}" readonly>
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-4">
                <mat-label>Alteraciones alimentarias</mat-label>
                <input matInput value="{{ recordInfo.alimentaryAlterations? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-7">
                <mat-label>¿Cúales?</mat-label>
                <input matInput value="{{ recordInfo.whichAlimentaryAlterations }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-8">
                <mat-label>Frecuencia</mat-label>
                <input matInput value="{{ recordInfo.sinceWhenAlimentaryAlterations }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Cambios de estado de ánimo</mat-label>
                <input matInput value="{{ recordInfo.moodChanges }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-7">
                <mat-label>¿Désde cuándo?</mat-label>
                <input matInput value="{{ recordInfo.sinceWhenMoodChanges }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Antecedentes penales</mat-label>
                <input matInput value="{{ recordInfo.ciminalRecords? 'SI' : 'NO' }}" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label>¿Cúales?</mat-label>
                <input matInput value="{{ recordInfo.whichCriminalRecords }}" readonly>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Impresión diagnostica
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="col-md-12">
                <mat-label>Diagnóstico presuntivo</mat-label>
                <textarea matInput [value]="recordInfo.presuntiveDiagnostic" readonly></textarea>
            </mat-form-field>
            <div *ngIf="this.recordVersion !== '2'">
                <div  class="col-md-12">
                    <label for="">Derivado a:</label>
                    <ul *ngFor="let area of recordInfo.derivedTo.split(',')">
                        <li>{{area}}</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <label for="">Cuotas:</label>
                    <ul *ngFor="let cuota of recordInfo.moneyShare.split(',')">
                        <li>{{cuota}}</li>
                    </ul>
                </div>
            </div>
            <div *ngIf="this.recordVersion == 2" class="col-md-12">
                <label for="">Derivado a:</label>
                <ul *ngFor="let derivation of this.derivations">
                    <li>{{derivation.derivedArea}} - ${{derivation.recoveryCost}}</li>
                </ul>
            </div>
            <!-- <mat-form-field class="col-md-12">
                <mat-label>Cuotas</mat-label>
                <input matInput value="{{recordInfo.moneyShare}}" readonly>
            </mat-form-field> -->
            <mat-form-field class="col-md-12">
                <mat-label>Profesional que abrio expediente</mat-label>
                <input matInput value="{{recordInfo.professionalWhoAttended}}" readonly>
            </mat-form-field>
            <br>
            <mat-label style="font-size: 20px; font-weight: bold; color:#5B5757;" class="col-md-12">Profesionales asignados</mat-label>
            <div *ngIf="recordInfo.therapists.length <= 0" class="col-md-12">
                <p>No se asignado este expediente ningún profesional</p>
            </div>
            <mat-form-field *ngFor="let therapist of recordInfo.therapists" class="col-md-12">
                <mat-label>{{therapist.speciality}}</mat-label>
                <input matInput value="{{therapist.name + ' ' + therapist.last_name + ' ' + therapist.second_last_name}}" readonly>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Genograma
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-genogram [recordId]="this.recordInfo.id" [isAdmin]="this.isAdmin"></app-genogram>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>
<ng-container *ngIf="!this.recordInfo">
    <div *ngIf="(this.permissionService.permissions | async)?.canEditRecord" class="text-left">
        <a [routerLink]="['/home', 'existing-person-opening-record', this.personId ]" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                  </span>
            <span class="text">Apertura de expediente</span>
        </a>
    </div>
</ng-container>
<hr>
<ng-container *ngIf="this.recordInfo">
    <div *ngIf="(this.permissionService.permissions | async)?.canEditRecord" class="text-left">
        <a [routerLink]="['/home', 'edit-record', this.recordInfo.id, 'person', this.personId ]" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
                  <i class="fas fa-pencil-alt"></i>
                  </span>
            <span class="text">Editar expediente</span>
        </a>
    </div>
</ng-container>