<div class="row text-center text-lg-left">
    <div class="col-lg-12 mb-3 border-bottom-primary">
        <div class="row d-flex justify-content-center">
            <div class="col-md-2" *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <form>
            <div class="custom-file">
                <input type="file" accept="image/*" class="custom-file-input" id="validatedCustomFile" (change)="handleInputChange($event)">
                <label class="custom-file-label" for="validatedCustomFile">{{this.fileLabel}}</label>
            </div>
        </form>
        <div class="text-right">
            <button [disabled]="isFileEmpty()" type="button" (click)="uploadFile()" class="btn btn-success btn-md btn-icon-split mb-1 mt-1">
                <span class="icon text-white-50">
                    <i class="fas fa-upload"></i>
                </span>
                  <span class="text">Cargar</span>
              </button>
        </div>
        <div *ngIf="fileSrc" class="mt-2 mb-2">
            <img [src]="fileSrc" class="img-fluid img-thumbnail" />
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 card zoom" *ngFor="let image of images">
        <a aria-controls="collapseTwo" aria-expanded="true" data-toggle="collapse">
            <img mdbTooltip="{{image.path}}" (click)="openImage(image)" class="img-fluid img-thumbnail" style="height: auto; width: fit-content;" [src]="image.src" />
            <ul class="list-group list-group-flush" style="color: black;">
                <li class="list-group-item"><b>Autor:</b> {{image.therapist}}</li>
                <li class="list-group-item"><b>Fecha:</b> {{image.createdAt | date}}</li>
            </ul>
            <div class="card-body">
                <p class="card-text" style="color: black;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus facere, voluptate suscipit obcaecati hic facilis nostrum blanditiis ipsam expedita. Praesentium beatae ab est distinctio quo iure unde consectetur vel! Facere.{{image.description | uppercase}}
                </p>
            </div>
        </a>
        <!-- <div class="card zoom" style="width: 18rem;">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link" data-toggle="collapse" href="#">
                <img class="card-img-top img-fluid img-thumbnail" style="height: 200px; width: fit-content;" [src]="image.src">
                <div class="card-body">
                    <p class="card-text">{{image.description}}</p>
                </div>
            </a>
        </div> -->
    </div>
</div>