<div class="text-center">
  <img style="width: 18rem;" src="../../../../../../../assets/vendor/images/textLogoSI.png" alt="">
</div>

<p>Expediente No. <b>{{this.recordId}}</b></p>

<p>Tepatitlán de Morelos, Jalisco, siendo las <b>{{this.time}}</b> horas del día <b>{{this.day}}</b> del mes
  <b>{{this.month}}</b> del año <b>{{this.year}}</b>, en las instalaciones que ocupa la Clínica de Salud Integral de los
  Altos A.C., ubicada en la finca marcada con el número 460 de la calle J. Clemente Orozco Col. La Gloria, se hizo del
  Conocimiento al “Usuario” de los compromisos y Obligaciones que deberá guardar en ésta Institución a efecto de estar
  en la posibilidad de poder brindarle servicio, comprometiéndose a:</p>

<ol>
  <li>Acudir personalmente el interesado.</li>
  <li>Acudir puntualmente a las citas que se le programen en su correspondiente tarjeta de citas de usuario, por parte
    de los profesionistas que le atienden (Sabiendo que en casos de ser psiquiátrica, deberá esperar el tiempo necesario
    para su atención)</li>
  <li>El tiempo de tolerancia en cada cita es de 15 minutos.</li>
  <li>En caso de menores de edad, deberán ser acompañados por un adulto.</li>
  <li>A dar aviso con su debida anticipación, si por causas ajenas o de fuerza mayor le fuera imposible acudir a las
    citas programadas por esta institución.</li>
  <li>Será causa de baja del servicio al acumular dos faltas consecutivas o alternadas sin previo aviso, sin
    responsabilidades para la institución.</li>
  <li>El tipo de terapia que se maneja en Salud Integral A.C., es breve de 8 a 12 sesiones, es responsabilidad del
    usuario terminar su acompañamiento para que pueda ver resultados óptimos.</li>
  <li>Se compromete el “Usuario” a proporcionar a los Profesionistas que le atienden datos necesarios para la debida
    atención de su problema planteado.</li>
  <li>Se compromete el “Usuario” a presentar su tarjeta de citas que se proporcionó de parte de la Institución para el
    control de las mismas, de lo contrario se le cobrará una cuota de recuperación por olvido o pérdida.</li>
  <li>Por el Tipo de servicio que se presta en la Institución, no se permite el ingreso con menores de edad a menos que
    vayan a recibir atención o estén acompañados de un adulto que sea responsable de que guarden orden y silencio.</li>
  <li>Éste espacio es de todos, ayúdenos a mantenerlo en buenas condiciones evitando tirar basura, fumar o maltratar los
    muebles.</li>
</ol>
