<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.therapist.name }}</td>
                        <td>{{ user.therapist.last_name + ' ' + user.therapist.second_last_name }}</td>
                        <td>{{ user.therapist.speciality }}</td>
                        <td>
                            <button class="btn btn-success">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>