<!-- DataTales Example -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <!-- <app-navigation-tree [data]="[1,2]"></app-navigation-tree> -->
    <h1 class="h3 mb-0 text-gray-800"> <a [routerLink]="['/home']">Panel de control</a> -> Terapeutas</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
</div>
<div *ngIf="users">
    <app-table-pagination [tableProperties]="tableProperties" (actionsHandler)="executeAction($event)"></app-table-pagination>
</div>



<!-- <div class="card shadow mb-4 container-fluid">
    <div class="card-header row">
        <div class="col-md-6 text-left">
            <a [routerLink]="['/home/add-user']" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                        </span>
                <span class="text">Agregar Terapeuta</span>
            </a>
        </div>
        <div class="col-md-6 text-right">
            <a [routerLink]="['/home/add-user']" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
                </span>
                <span class="text">Agregar Terapeuta</span>
            </a>
        </div>
    </div>
    <div class="card-body row mb-4">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.therapist.name }}</td>
                        <td>{{ user.therapist.last_name + ' ' + user.therapist.second_last_name }}</td>
                        <td>{{ user.therapist.speciality }}</td>
                        <td class="columnActions">
                            <button class="btn btn-info btn-circle" title="Ver detalle" (click)="viewUser(user)">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-primary btn-circle" title="Editar" (click)="editUser(user)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-danger btn-circle" title="Eliminar" (click)="deleteUser(user)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->