<!-- Sidebar -->
<ng-container *ngIf="userDetails">
    <ul [ngClass]="{'toggled' : this.isSidebarToggled}" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="./">
            <div class="sidebar-brand-icon">
                <i class="fab fa-speakap"></i>
            </div>
            <!-- <div class="sidebar-brand-text mx-3">SIAPP<sup>1</sup></div> -->
            <div class="sidebar-brand-text mx-3">SIAPP</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Panel de control</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Servicios
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li *ngIf="this.isAdmin" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-folder"></i>
                <span>Pacientes</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" routerLink="records">
                        <!-- <i class="fas fa-folder"></i> -->
                        <span>Expedientes</span>
                    </a>
                    <!-- <a class="collapse-item" routerLink="crisis-interventions">
                        <i class="fas fa-folder-plus"></i>
                        <span>Urgencias</span>
                    </a> -->
                </div>
            </div>
        </li>

        <li *ngIf="isAdministrative" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReception" aria-expanded="true" aria-controls="collapseReception">
                <i class="fas fa-calendar"></i>
                <span>Recepción</span>
            </a>
            <div id="collapseReception" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="buttons.html">
                        <i class="fas fa-calendar-alt"></i>
                        <span> Agenda</span>
                    </a>
                    <a class="collapse-item" href="cards.html">
                        <i class="fas fa-ticket-alt"></i>
                        <span> Recibos</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConsultorio" aria-expanded="true" aria-controls="collapseReception">
                <i class="fas fa-desktop"></i>
                <span>Consultorio</span>
            </a>
            <div id="collapseConsultorio" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Acciones:</h6>
                    <a class="collapse-item" href="/home/therapist-records/{{this.userDetails.therapistId}}/{{this.userDetails.therapistId}}">
                        <i class="fas fa-user-friends"></i>
                        <span>Mis Pacientes</span>
                    </a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div *ngIf="isAdmin" class="sidebar-heading">
            Administración
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-user-md"></i>
                <span>Terapeutas</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!-- <h6 class="collapse-header">Login Screens:</h6> -->
                    <a class="collapse-item" routerLink="users">Terapeutas</a>
                    <!-- <a class="collapse-item" href="register.html">Permiso a expedientes</a> -->
                    <div class="collapse-divider"></div>
                </div>
            </div>
        </li>

        <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#psychometrics" aria-expanded="true" aria-controls="psychometrics">
                <i class="fas fa-list"></i>
                <span>Pruebas psicométricas</span>
            </a>
            <div id="psychometrics" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" routerLink="psychometrics-managment">Pruebas psicométricas</a>
                    <div class="collapse-divider"></div>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Reportes estadisticos</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" (click)="toggleSidebar(this.isSidebarToggled)" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
</ng-container>