<div class="row">
  <div class="col-md-12 text-center card">

    <div class="card-header">
      <div class="btn-group" role="group" aria-label="Basic example">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle *ngIf="(this.permissionService.permissions | async)?.canAddAgendaAppointment && (action === 'add' || (action !== 'add' && eventType === 'appointment-form'))" (click)="render('appointment-form')" value="bold">Citas pacientes existentes</mat-button-toggle>
          <mat-button-toggle *ngIf="(this.permissionService.permissions | async)?.canAddAgendaEvent && (action === 'add' || (action !== 'add' && eventType === 'event-form'))" (click)="render('event-form')"  value="italic">Aperturas/Otros Eventos</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="card-body">
      <ng-container [ngSwitch]="eventType">
        <div *ngSwitchCase="'appointment-form'">
          <app-form-appointment [action]="action" [props]="props"></app-form-appointment>
        </div>
        <div *ngSwitchCase="'event-form'">
          <app-form-event [action]="action" [props]="props"></app-form-event>
        </div>
      </ng-container>
    </div>

  </div>
</div>
<!-- *ngIf="(this.permissionService.permissions | async)?.canAddAgendaAppointment" -->