<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        <a [routerLink]="['/home']">Panel de control</a> ->
        <a [routerLink]="['/home', 'records']">Pacientes</a> ->
        <a [routerLink]="['/home', 'record-summary', this.params.personId ]">{{ this.person }} -> </a>
        <a>Aviso de privacidad</a>
    </h1>
</div>


    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step >
            <ng-template matStepLabel><h1 style="color: black;" mat-dialog-title>Aviso de privacidad</h1></ng-template>
            <mat-dialog-content style="color: black;" class="mat-typography">
                <!-- <h3>Develop across all platforms</h3> -->
                <p><b>SALUD INTEGRAL DE LOS ALTOS A. C.</b> hace de su conocimiento que es la responsable del tratamiento de los datos personales y datos sensibles de los usuarios y que son incorporados a nuestra base de datos, como parte indispensable para la Prestación de Servicios que la Asociación ofrece, que puede ser para la atención de servicios Psicológicos, o psiquiátricos, o de nutrición, legales y formativos, quien recibe los datos, es la persona moral denominada SALUD INTEGRAL DE LOS ALTOS A. C.</p>
            
                <p>Como parte de la Prestación de Servicios de la clínica, que puede ser por la atención de servicios Psicológicos, psiquiátricos, de nutrición, y/o legales, quien recibe los datos lo es la persona moral denominada SALUD INTEGRAL DE LOS ALTOS A. C. Con domicilio en Calle José Clemente Orozco, Hacienda La Gloria, 47600 en Tepatitlán de Morelos, Jalisco.</p>
            
                <p>De igual manera hacemos de su conocimiento que toda la información que se recabe y sea almacenada en nuestra base de datos, cuenta con los medios de seguridad necesarios para no ser manipulada por personas ajenas a esta Institución y será manejada con absoluta confidencialidad, tanto la obtención, uso, divulgación y almacenamiento, como dar el debido cumplimiento a las obligaciones derivadas del contrato de prestación de servicios asistenciales del Estado de Jalisco, por lo que en virtud de lo anterior y a partir de que usted proporcione sus datos a SALUD INTEGRAL DE LOS ALTOS A. C. nos otorga también el consentimiento para el uso de su información.</p>
            
                <p>En caso de que los servicios solicitados sean de conformidad con el artículo 49 del código civil para el estado de Jalisco, para menores de edad o personas que se encuentran en estado de interdicción, o cuentan con alguna incapacidad, el padre o tutor será quien deje sus datos personales y a quien se le estará informando de todas las actividades que la clínica realice.</p>
            
                <p>A si mismo SALUD INTEGRAL DE LOS ALTOS A. C., hace de su conocimiento, que los datos personales, que proporciona en su expediente, como lo son; nombre, domicilio, teléfono, lugar de origen, serán registrados en una base de datos, los cuales serán utilizados para informar a todos los usuarios de los eventos que organice SALUD INTEGRAL DE LOS ALTOS A. C., ya sean sociales, culturales o de psico-educación.</p>
            
                <p>Por lo cual el presente consentimiento nos está facultado para tener en nuestros registros físicos y electrónicos toda la información que nos haya sido facilitada por usted, a través de cualquiera de los medios que le hayan sido requeridos, a efecto de recabar sus datos personales, informándole desde este momento que las dudas que pudiera tener referentes al presente aviso de privacidad, las podrá consultar directamente visitando en nuestra página de internet www.saludintegraldelosaltos.com , así mismo hacemos de su conocimiento que en caso de duda o aclaración referente alguno de los datos personales recabados por la Institución y para ejercer los derechos de acceso previstos en la LFPDPP, puede comunicárnoslo directamente al correo pastoral_salud@hotmail.com</p>
            
                <p>En términos de la Ley Federal de Protección de Datos Personales en Posesión de Particulares, publicada en el Diario Oficial de la Federación el día 05 de julio de 2010, SALUD INTEGRAL DE LOS ALTOS A. C., administrativamente ha adoptado la política de designar al COORDINADOR GENERAL, como el encargado de dar trámite a las solicitudes que usted pueda tener, en términos de la Ley ya referida, así como también se encargará de vigilar el adecuado Tratamiento de sus Datos Personales, en términos del presente Aviso de Privacidad.</p>
            
                <p>Por lo anterior, cualquier solicitud de acceso, rectificación, cancelación u oposición, así como cualquier aclaración, actualización de sus Datos Personales o revocación de su consentimiento deberá ser dirigida al COORDINADOR GENERAL, para lo anterior deberá enviar un correo electrónico a la dirección: pastoral_salud@hotmail.com para solicitar el Formulario de Atención sobre Datos Personales; así como para hacer llegar por escrito y físicamente, su requerimiento, en el domicilio de SALUD INTEGRAL DE LOS ALTOS A. C., mismo que ha quedado previamente señalado. Resulta fundamental aclarar que, en términos de la Ley aplicable, para que SALUD INTEGRAL DE LOS ALTOS A. C. pueda dar trámite a cualquier solicitud que en términos del presente Aviso de Privacidad usted deberá hacer la solicitud del Formulario de Atención sobre Datos Personales, en forma personal y cumplir con los requisitos que se señalan en los artículos 29, 31 y demás aplicables de la misma Ley.</p>
            
                <p>SALUD INTEGRAL DE LOS ALTOS A. C. también desea informarle mediante el presente Aviso de Privacidad que eventualmente, exclusivamente con el objeto de cumplir con los fines que se mencionan en el presente documento, podrá llevar a cabo la transferencia de los siguientes Datos Personales: nombre, domicilio, teléfono, lugar de origen; al Instituto Jalisciense de Asistencia Social (IJAS) y al Directorio Nacional de Organizaciones de Asistencia Social de México, transferencia que será realizada con medidas de seguridad apropiadas, de conformidad con los principios contenidos en la Ley.</p>
            
                <p>SALUD INTEGRAL DE LOS ALTOS A. C., se reserva el derecho a modificar el presente Aviso de Privacidad, por lo que hace de su conocimiento que cualquier cambio o modificación al contenido del mismo le será comunicada oportunamente a través de su sitio web www.saludintegraldelosaltos.com o mediante algún otro medio de comunicación que tengamos con Usted.</p>
            
                <p>En cualquier momento Usted tiene derecho a solicitar la baja de sus datos personales de nuestras bases de datos, a través del Formulario de Atención sobre Datos Personales; para lo anterior deberá enviar un correo electrónico a la dirección: pastoral_salud@hotmail.com , solicitando el Formulario correspondiente, o físicamente en el domicilio de SALUD INTEGRAL DE LOS ALTOS A. C., mismo que ha quedado previamente señalado.
            
                    Cabe mencionar que el no autorizar el uso de sus datos personales y/o sensibles, puede ser motivo para que SALUD INTEGRAL DE LOS ALTOS A.C., se reserve el derecho de proporcionar alguno de los servicios que ofrece.</p>
            
                <p>Si Usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados, voluntarios o de nuestras actuaciones o respuestas, presume que en el tratamiento de sus datos personales, existe alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, podrá interponer la queja o denuncia correspondiente ante el IFA, para mayor información visite www.ifai.org.mx</p>
                </mat-dialog-content>  
                <mat-checkbox (click)="agreeTerms()" [formControl]="readTermsFormControl">He leido los terminos y condiciones</mat-checkbox>
        </mat-step>
        <mat-step *ngIf="this.readTermsFormControl.value === true">
            <ng-template matStepLabel><h1 style="color: black;" mat-dialog-title>Carta compromiso</h1></ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>


    <app-sign (getSign)="captureSign($event)"></app-sign>