<div *ngIf="!isViewOnly" class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    <a [routerLink]="['/home']">Panel de control</a> ->
    <a [routerLink]="['/home', 'records']">Pacientes</a> ->
    <a [routerLink]="['/home', 'record-summary', this.personId ]">{{ this.person }} -> </a>
    <a>Aviso de privacidad</a>
  </h1>
</div>


<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->
<mat-vertical-stepper *ngIf="!isViewOnly" [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>
      <h1 style="color: black;" mat-dialog-title>Aviso de privacidad</h1>
    </ng-template>
    <mat-dialog-content style="color: black;" class="mat-typography">
      <app-privacy-policy></app-privacy-policy>
    </mat-dialog-content>
    <mat-checkbox [formControl]="readTermsFormControl">He leído y acepto los terminos y condiciones</mat-checkbox>
  </mat-step>
  <mat-step *ngIf="this.readTermsFormControl.value === true">
    <ng-template matStepLabel>
      <h1 style="color: black;" mat-dialog-title>Carta compromiso</h1>
    </ng-template>
    <mat-dialog-content style="color: black;" class="mat-typography">
      <app-commitmet-letter [recordId]="this.record.id" [dateTime]="this.date"></app-commitmet-letter>
    </mat-dialog-content>
    <mat-checkbox [formControl]="commitmentLetterFormControl">He leído y acepto la carta compromiso</mat-checkbox>
  </mat-step>
  <mat-step *ngIf="this.commitmentLetterFormControl.value === true">
    <ng-template matStepLabel>
      <h1 style="color: black;" mat-dialog-title>Firma del usuario</h1>
    </ng-template>
    <p>Por ultimo, necesitamos su firma</p>

    <app-sign (getSign)="capturePersonSign($event)"></app-sign>
  </mat-step>
  <mat-step *ngIf="this.personSign">
    <ng-template matStepLabel>
      <h1 style="color: black;" mat-dialog-title>Firma del coordinador</h1>
    </ng-template>
    <p>Firme y presione guardar</p>

    <app-sign (getSign)="captureSign($event)"></app-sign>

    <div *ngIf="false">
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button (click)="stepper.reset()">Resetear</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<ng-container *ngIf="this.isViewOnly">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aviso de privacidad
        </mat-panel-title>
        <mat-panel-description>
          Documento
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-privacy-policy></app-privacy-policy>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Carta de compromiso
        </mat-panel-title>
        <mat-panel-description>
          Documento
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-commitmet-letter *ngIf="this.record" [recordId]="this.record.id" [dateTime]="this.date"></app-commitmet-letter>
      <div *ngIf="this.privacyAgreement" class="row">
        <div class="card col-md-6" style="width: 18rem;">
          <img [src]="this.privacyAgreement.sign" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <p class="card-text">Usuario</p>
          </div>
        </div>
        <div class="card col-md-6" style="width: 18rem;">
          <img [src]="this.privacyAgreement.coordinatorSign" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <p class="card-text">Coordinador</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel> 
  </mat-accordion>
</ng-container>

