/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1.h3 {
    font-size: 20px;
}

/* https://stackoverflow.com/questions/56866108/tooltips-not-working-in-fullcalendar-when-i-use-bootstrap-css */