<ng-container>
    <div id="page-top">
        <div id="wrapper">
            <app-sidebar class="bg-gradient-primary"></app-sidebar>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <app-topbar></app-topbar>
                    <!-- HERE SHOULD BE THE ROUTER OUTLET INSTEAD THE FOLLOWING CODE  -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Content Row -->
                        <!-- <div class="row"> -->
                        <router-outlet>

                        </router-outlet>
                        <!-- </div> -->



                    </div>
                    <!-- /.container-fluid -->

                    <!-- Footer -->
                    <!-- <footer class="sticky-footer bg-white" style="position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2.5rem;">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Devio {{ currentYear }}</span>
                            </div>
                        </div>
                    </footer> -->
                    <!-- End of Footer -->
                    <!-- Scroll to Top Button-->
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>