<div class="row">
    <div *ngIf="genogramSrc" class="col-md-12 text-center">
        <div *ngIf="genogramSrc.length > 100;else no_image" class="image-upload">
            <img [src]="genogramSrc" class="img-thumbnail" />
        </div>
        <ng-template #no_image>No se ha cargado ningún archivo</ng-template>
    </div>
    <div *ngIf="this.isAdmin" class="custom-file">
        <input class="custom-file-input" id="validatedCustomFileGenogram" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
        <label class="custom-file-label" for="validatedCustomFileGenogram">{{this.fileLabel}}</label>
    </div>
    <div *ngIf="this.isAdmin" class="text-right">
        <button [disabled]="isFileEmpty()" type="button" (click)="uploadGenograma()" class="btn btn-success btn-md btn-icon-split mt-1 mb-1">
            <span class="icon text-white-50">
                <i class="fas fa-upload"></i>
            </span>
                <span class="text">Cargar</span>
        </button>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-2" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>