<div class="d-sm-flex align-items-center justify-content-between mb-4" *ngIf="this.personName && !this.root">
    <h1 class="navigation-tree h3 mb-0 text-gray-800">
        <a [routerLink]="['/home']">Panel de control</a> >
        <a [routerLink]="['/home/records']">Pacientes</a> >
        <a [routerLink]="['/home', 'record-summary', this.personId ]">
            {{ this.personName }}  
        </a>> {{ this.translatedAction }}
    </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4" *ngIf="this.root">
    <h1 class="navigation-tree h3 mb-0 text-gray-800">
        <div [ngSwitch]="this.module">
            <div *ngSwitchCase="'Pruebas psicometricas'">
                <a [routerLink]="['/home']">Panel de control</a> >
                <a [routerLink]="['/home', 'psycometrics-managment' ]">
                    {{ this.module }}  
                </a>> {{ this.translatedAction }}
            </div>
            <div *ngSwitchCase="'Servicios'">
                <a [routerLink]="['/home']">Panel de control</a> >
                <a [routerLink]="['/home', 'service-types' ]">
                    {{ this.module }}  
                </a>> {{ this.translatedAction }}
            </div>
        </div>
        
    </h1>
</div>