<div class="d-sm-flex align-items-center justify-content-between mb-4" *ngIf="this.person">
    <h1 class="h3 mb-0 text-gray-800" *ngIf="isAdmin;">
        <a [routerLink]="['/home']">Panel de control</a> ->
        <a [routerLink]="['/home/records']">Pacientes</a> -> {{ this.person.name }} {{ this.person.lastName }} {{ this.person.secondLastName}}
    </h1>
    <h1 *ngIf="isAdmin ==  false" class="h3 mb-0 text-gray-800">
        <a [routerLink]="['/home']">Consultorio</a> ->
        <a [routerLink]="['/home/therapist-records', this.userDetails.therapistId, this.userDetails.userId]">Mis pacientes</a> -> {{ this.person.name }} {{ this.person.lastName }} {{ this.person.secondLastName}}
    </h1>
</div>
<div class="container-fluid emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <div *ngIf="this.person">
                    <app-profile-photo [personId]="this.person.id" [isAdmin]="isAdmin"></app-profile-photo>
                </div>
                <div class="profile-work" *ngIf="this.person">
                    <h5 class="mb-3">Información personal</h5>
                    <h6><b>Nombre: </b>{{ this.person.name }}</h6><br/>
                    <h6><b>Apellido P: </b>{{ this.person.lastName }}</h6><br/>
                    <h6><b>Apellido M: </b>{{ this.person.secondLastName }}</h6><br/>
                    <h6><b>Teléfono: </b>{{ this.person.phone }}</h6><br/>
                    <h6><b>Correo: </b>{{ this.person.email }}</h6><br/>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-head" *ngIf="this.person">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewRecordTab" class="nav-item">
                            <a class="nav-link active" (click)="render('home-tab')" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Expediente</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewDerivationsTab && this.record" class="nav-item">
                            <a class="nav-link" (click)="render('derivations-tab')" id="derivations-tab" data-toggle="tab" href="#derivations" role="tab" aria-controls="derivations" aria-selected="false">Derivaciones</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewSessionReportTab && this.record" class="nav-item">
                            <a class="nav-link" (click)="render('sessions-tab')" id="sessions-tab" data-toggle="tab" href="#sessions" role="tab" aria-controls="sessions" aria-selected="false">Reportes de sesión</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewUrgenciesTab" class="nav-item">
                            <a class="nav-link" (click)="render('crisis-interventions-tab')" id="crisis-interventions-tab" data-toggle="tab" href="#crisis-interventions" role="tab" aria-controls="sessions" aria-selected="false">Urgencias</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewAttachedFilesTab" class="nav-item">
                            <a class="nav-link" (click)="render('attachments-tab')" id="attachments-tab" data-toggle="tab" href="#attachments" role="tab" aria-controls="attachments" aria-selected="false">Archivos adjuntos</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewTestsTab" class="nav-item">
                            <a class="nav-link" (click)="render('tests-tab')" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="false">Pruebas</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewAgendaTab" class="nav-item">
                            <a class="nav-link" (click)="render('dates-tab')" id="dates-tab" data-toggle="tab" href="#dates" role="tab" aria-controls="dates" aria-selected="false">Citas</a>
                        </li>
                        <li *ngIf="(this.permissionService.permissions | async)?.canViewPrivacyAgreementTab && this.record" class="nav-item">
                            <a class="nav-link" (click)="render('privacy-agreement-tab')" id="privacy-agreement-tab" data-toggle="tab" href="#privacy-agreement" role="tab" aria-controls="privacy-agreement" aria-selected="false">Acuerdo de privacidad</a>
                        </li>
                    </ul>
                </div>
                <!-- HERE STARTS THE MENUS -->
                <div class="col-md-12">
                    <div class="tab-content profile-tab" id="myTabContent" [ngSwitch]="this.tab">
                        <div *ngSwitchCase="'home-tab'" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <ng-container *ngIf="this.person">
                                <app-record-information [isAdmin]="this.isAdmin" [personId]="this.person.id"></app-record-information>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'derivations-tab'" class="tab-pane fade show active" id="derivations" role="tabpanel" aria-labelledby="derivations-tab">
                            <ng-container *ngIf="this.record">
                                <app-derivations [recordId]="this.record.id" [personId]="this.person.id"></app-derivations>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'sessions-tab'" class="tab-pane fade" id="sessions" role="tabpanel" aria-labelledby="sessions-tab">
                            <ng-container *ngIf="this.record !== null && this.record !== undefined">
                                <app-sessions-summary  [recordId]="this.record.id" [personId]="this.person.id" [isAdmin]="this.isAdmin"></app-sessions-summary>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'crisis-interventions-tab'" class="tab-pane fade" id="crisis-interventions" role="tabpanel" aria-labelledby="crisis-interventions-tab">
                            <ng-container *ngIf="this.person">
                                <app-list-crisis-intervention [personId]="this.person.id"></app-list-crisis-intervention>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'attachments-tab'" class="tab-pane fade" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
                            <ng-container *ngIf="this.person">
                                <app-attachments [personId]="this.person.id"></app-attachments>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'tests-tab'" class="tab-pane fade" id="tests" role="tabpanel" aria-labelledby="tests-tab">
                            <app-list-psycometric-application [personId]="this.person.id"></app-list-psycometric-application>
                        </div>
                        <div *ngSwitchCase="'dates-tab'" class="tab-pane fade" id="dates" role="tabpanel" aria-labelledby="dates-tab">
                            <app-agenda [isChild]="'true'" [iPersonId]="this.person.id" [renderEvents]="false"></app-agenda>
                        </div>
                        <div *ngSwitchCase="'privacy-agreement-tab'" class="tab-pane fade" id="privacy-agreement" role="tabpanel" aria-labelledby="privacy-agreement-tab">
                            <div *ngIf="(this.permissionService.permissions | async)?.canSignPrivacyAgreement && this.privacyAgreement.status === 204" class="col-md-6">
                                <button (click)="viewPrivacyAgreement()" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                         </span>
                                     <span class="text">Firmar acuerdo de privacidad</span>
                                </button>
                            </div>
                            <div *ngIf="this.privacyAgreement.status !== 204">
                                <app-privacy-agreement [iPersonId]="this.person.id" [isViewOnly]="true"></app-privacy-agreement>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="col-md-1">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div> -->
        </div>
        <div class="row">


        </div>
    </form>
</div>
<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>