
<div class="row">

  <!-- Therapist -->
  <div class="col-md-6">
    <app-input-typeahead
      [label]="'Terapeuta'"
      [placeholder]="'Nombre del terapeuta'"
      [id]="'therapistId'"
      [optionsSource]="userDataService.users | async"
      (modelChange)="updateAppointmentDataState($event, 'therapist')"
    ></app-input-typeahead>
  </div>

  <!-- Person -->
  <div class="col-md-6 person-field">
    <div class="input-group">
      <input id="person-input" class="form-control" [attr.disabled]="true" aria-describedby="button-addon2" 
        value="{{appointmentData.person?.name}} {{appointmentData.person?.lastName}} {{appointmentData.person?.secondLastName}}">
      <div class="input-group-append">
        <button (click)="openPersonsModal('appointment-form')" class="type-ahead-button btn btn-outline-primary" type="button" id="button-addon2">
          Buscar paciente
        </button>
        <button *ngIf="appointmentData.person" (click)="updateAppointmentDataState(null, 'person')" class="search-button btn btn-outline-secondary" type="button" id="button-addon2">
          <span class="icon text-blue-50">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
    </div>
  </div>

</div>
<hr>

<div class="row">

  <!-- Start date -->
  <div class="col-md-3">
    <label for="start-date">Fecha de inicio</label>
    <input type="date" (change)="updateAppointmentDataState($event.target.value, 'startDate')" [value]="appointmentData.startDate" class="form-control" id="start-date">
  </div>

  <!-- Start time -->
  <div class="col-md-3">
    <app-input-select
      [label]="'Hora de comienzo'"
      [options]="this.agendaConstants.hours"
      (modelChange)="updateAppointmentDateTime({time: $event, date: appointmentData.startDate}, 'startTime')"
      [selectedValue]="appointmentData.startTime"
    ></app-input-select>
  </div>

  <!-- End time -->
  <div class="col-md-3">
    <app-input-select
      [label]="'Hora de fin'"
      [options]="this.agendaConstants.hours"
      (modelChange)="updateAppointmentDateTime({time: $event, date: appointmentData.endDate}, 'endTime')"
      [selectedValue]="appointmentData.endTime"
    ></app-input-select>
  </div>

  <!-- End date -->
  <div class="col-md-3">
    <label for="end-date">Fecha de fin</label>
    <input (change)="updateAppointmentDataState($event.target.value, 'endDate')" [value]="appointmentData.endDate" type="date" class="form-control" id="end-date">
  </div>

</div>
  <h5 *ngIf="areDatesInvalid && (appointmentData.startTime && appointmentData.endTime)" style="color: crimson">La fecha/hora de inicio no puede ser menor o igual a la fecha/hora de fin</h5>
<hr>

<div class="row">

  <!-- notes -->
  <div class="form-group col-md-12">
    <label for="notes">Observaciones</label>
    <input [(ngModel)]="appointmentData.notes" [value]="appointmentData.notes" maxlength="100" type="text" class="form-control" id="notes" placeholder="Observaciones">
  </div>
</div>
<br>
<div class="row">
  <div class="actions col-md-6 text-left">
    <mat-slide-toggle (change)="appointmentData.assisted=!appointmentData.assisted"  [checked]="appointmentData.assisted" [color]="'primary'">El paciente asistío a la cita</mat-slide-toggle>
  </div>
  <!-- notes -->
  <div class="actions col-md-6 text-right">
    <button *ngIf="(this.permissionService.permissions | async)?.canDeleteAgendaAppointment && action !== 'add'" (click)="delete()" type="button" class="btn btn-danger">Eliminar</button>
    <button [disabled]="isAppointmentFormInvalid" (click)="submit()" type="button" class="btn btn-success">Guardar</button>
  </div>
</div>
<div class="text-left">
  <pre>{{appointmentData | json}}</pre>
</div>